#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        ma_kakko: ma_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp LS(N8) &kp LS(N9) &kp LEFT_ARROW>;
            label = "MA_KAKKO";
        };

        ma_kakko2: ma_kakko2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp LS(COMMA) &kp LS(PERIOD) &kp LEFT>;
            label = "MA_KAKKO2";
        };

        ma_kakko3: ma_kakko3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_BRACKET &kp BACKSLASH &kp LEFT>;
            label = "MA_KAKKO3";
        };

        ma_corron: ma_corron {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_4 &kp K &kp O &kp R &kp O &kp N &kp SPACE &kp ENTER &kp INTERNATIONAL_5>;
            label = "MA_CORRON";
        };

        ma_at: ma_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp LEFT_BRACKET>;
            label = "MA_AT";
        };

        ma_under: ma_under {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_4 &kp A &kp N &kp N &kp D &kp A &kp MINUS &kp B &kp A &kp MINUS &kp SPACE &kp ENTER &kp INTERNATIONAL_5>;
            label = "MA_UNDER";
        };
    };

    lt_to_layer_0: lt_to_layer_0 {
        compatible = "zmk,behavior-hold-tap";
        label = "LAYER_TAP_TO_0";
        bindings = <&mo>, <&to_layer_0>;

        #binding-cells = <2>;
        tapping-term-ms = <200>;
    };

    be_sim: be_sim {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_SIM";
        #binding-cells = <0>;
        bindings = <&kp F5>, <&kp F10>, <&kp F11>;

        tapping-term-ms = <280>;
    };

    be_search: be_search {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_SEARCH";
        #binding-cells = <0>;
        bindings = <&kp F12>, <&kp LS(LA(F12))>;

        tapping-term-ms = <280>;
    };

    be_VS: be_VS {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_VS";
        #binding-cells = <0>;
        bindings = <&kp LS(LC(F))>, <&kp LS(LC(E))>;

        tapping-term-ms = <280>;
    };

    be_teams: be_teams {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_TEAMS";
        #binding-cells = <0>;
        bindings = <&kp LS(LC(M))>, <&kp LS(LC(H))>;

        tapping-term-ms = <280>;
    };

    be_kakko: be_kakko {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_KAKKO";
        #binding-cells = <0>;
        bindings = <&ma_kakko>, <&ma_kakko2>, <&ma_kakko3>;

        tapping-term-ms = <280>;
    };

    be_symbol: be_symbol {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_SYMBOL";
        #binding-cells = <0>;
        bindings = <&ma_under>, <&ma_at>, <&kp LS(EQUAL)>;

        tapping-term-ms = <280>;
    };

    be_calc: be_calc {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_CALC";
        #binding-cells = <0>;
        bindings = <&kp SLASH>, <&kp LS(SEMICOLON)>, <&kp LS(SQT)>;

        tapping-term-ms = <280>;
    };

    be_int4c: be_int4c {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_INT4C";
        #binding-cells = <0>;
        bindings = <&kp INTERNATIONAL_4>, <&kp C>;

        tapping-term-ms = <280>;
    };

    be_lq: be_lq {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_LQ";
        #binding-cells = <0>;
        bindings = <&kp L>, <&kp Q>;

        tapping-term-ms = <280>;
    };

    be_lock: be_lock {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_LOCK";
        #binding-cells = <0>;
        bindings = <&kp LG(E)>, <&kp LG(L)>;

        tapping-term-ms = <280>;
    };

    be_shortcut: be_shortcut {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_SHORTCUT";
        #binding-cells = <0>;
        bindings = <&kp LC(C)>, <&kp LC(V)>;

        tapping-term-ms = <280>;
    };

    be_corron: be_corron {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_CORRON";
        #binding-cells = <0>;
        bindings = <&ma_corron>, <&kp SEMICOLON>;

        tapping-term-ms = <270>;
    };

    be_faV: be_faV {
        compatible = "zmk,behavior-tap-dance";
        label = "BE_FAV";
        #binding-cells = <0>;
        bindings = <&kp LS(LC(O))>, <&kp V>;

        tapping-term-ms = <280>;
    };
};

/ {
    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans           &kp W   &kp K                 &trans          &trans         &trans  &trans       &kp I            &kp O   &trans
&mt LCTRL MINUS  &kp S   &mt LEFT_ALT N        &mt LEFT_GUI T  &kp H          &kp Y   &mt LCTRL A  &kp E            &kp U   &kp P
&trans           &kp R   &kp G                 &kp M           &kp B          &trans  &kp D        &kp F            &kp Z   &trans
&trans           &trans  &mt LEFT_SHIFT COMMA  &lt 5 PERIOD    &lt 2 SPACE    &trans  &lt 3 ENTER  &lt 1 BACKSPACE  &trans  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans        &kp N8        &kp N9        &trans
&kp F2  &trans  &trans  &trans  &trans    &kp N7  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0
&trans  &trans  &trans  &trans  &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS        &trans            &trans             &kp UP_ARROW    &trans           &kp C_SLOW_TRACKING
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK    &trans            &kp LEFT           &kp DOWN        &kp RIGHT        &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp BACKSLASH
&trans                      &trans           &kp EQUAL        &trans           &trans          &trans            &trans             &trans          &trans           &kp PIPE
            >;
        };

        layer_3 {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans     &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END    &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans     &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans     &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans         &trans        &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans         &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans  &trans  &trans  &bootloader    &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans    &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans    &trans
            >;
        };
    };
};
